

<img id="blue_map_welcome" src="/assets/blue_map_welcome.png">
<div id="welcome_search">
	<h1 id="location_title">Search Recently Visited Locations:</h1>
	<div class="pure-form">
	<%= form_tag locations_path, method: :get do %>
    	<%= text_field_tag 'search', nil, :placeholder =>'Search' %>
		<%= button_tag "Seach Locations", class: "button button-rounded button-flat-primary" %>
	<% end %>
	</div>
	<div class="col-md-6" id="welcome_left">
			<h5>Ever wonder if a restuant has steps, is cramped and crowded, or is just accessible in general? Able is a simple way to search and or rate handicap accessible locations throughout NYC.</h5>
	</div>
	<div class="col-md-6" id="welcome_right">
		<ul>
			<li>Search for a location</li>
			<li>Read the reviews</li>
			<li>Vist the location</li>
		</ul>
	</div>
</div>