/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	margin: 0;
 	margin-top: 0;
 	font-family: 'Roboto', sans-serif;
 	background-color: #E0E0E0;
 }


 /*Nav Bar Stlying*/


#logo {
	font-family: 'Knewave', cursive;

}

#able {
	position: fixed;
	left: 66px;
	top: -20px;
	color: white;
	font-size: 50px;
	z-index: 6;
}



#NYC {
	color: yellow;
	position: fixed;
	left: 160px;
	top: 25px;
	color: yellow;
	font-size: 20px;
	z-index: 6;
}

#navbar {
	background-color: #197BBD;
	list-style-type: none;
	height: 60px;
	color: #197BBD;
	position: fixed;
	width: 100%;
	top: 0;
	/*webkit-box-shadow: 0 8px 6px -6px #999;
    moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;*/
    z-index: 5;
    opacity: 0.7;
}

#navbar ul {
	margin: 0;
	margin-left: 70%;
}

#navbar ul li {
	display: inline-block;
    width: 100px;
    text-align: center;
    /*padding-top: 35px;*/
    padding-bottom: 31px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #F0F3BD;
    z-index: 5;
}


/*Button Stlying*/

#signed_in_buttons {
	z-index: 6;
	position: fixed;
	cursor: pointer;
}

#login_button {
	z-index: 6;
	position: fixed;
	cursor: pointer;
	opacity: 1;
}

#sign_out_button {
	position: absolute !important;
	left: 1100px;
	top: 4px;
	opacity: 1 !important;
	background-color: yellow;


}

#my_profile_button {
	position: absolute;
	left: 980px;
	top: 4px;
}

#signed_out_buttons li {
	list-style-type: none;
	padding-top: 3px;
}

#login_button {
	left: 1000px;
}

#sign_up_button {
	position: fixed;
	left: 1100px;
	z-index: 6;
}

/*Sign Up Page*/

#sign_up_form {
	border: 1px solid black;
	width: 450px;
	border-radius: 5px;
	padding-left: 45px;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-left: 33%;
	background-color: #197BBD;
	opacity: .98;
	box-shadow: 2px 2px 1px grey;
}

/*Sign In Page*/

#login_form {
	border: 1px solid black;
	width: 300px;
	border-radius: 5px;
	padding-left: 67px;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-left: 37%;
	background-color: #197BBD;
	opacity: .98;
	box-shadow: 2px 2px 1px grey;
}

/*Search Page*/

#blue_map_locations {
	width: 45%;
	position: absolute;
	top: -100px;
	z-index: -1;
}

#location_titles {
	margin-left: 60px;
	padding-top: 10px;
	color: white;
}

#location_titles h4 {
	color: yellow;
}

#location_search li{
	display: inline-block;
	margin-left: 10px;
}

#yelp_location {
	width: 40%;
	border-bottom: 1px solid grey;
	position: relative;
}

#yelp_location_all {
	margin-top: 60px;
}

#create_entry_form {
	padding-top: 5px;
	position: relative;

}

#entry_button {
	position: relative;
	left: 65%;
	top: -60px;
	width: 200px;
}

#map-canvas {
	width: 800px;
	height: 640px;
}

#map_left {
	position: fixed;
	top: 0;
	left: 40%;
}


/*Edit Page*/

#edit_page_description {
	border-radius: 10px;
	border: 1px solid yellow;
	width: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #197BBD;
	left: 150px;
	padding-left: 50px;
	box-shadow: 2px 2px 1px grey;
}

#edit_page_description a {
	color: yellow;
}

#able_form {
	left: 50px;
	margin-top: 120px;
	border: 1px solid black;
	padding-top: 20px;
	border-radius: 5px;
	background-color: #E0E0E0;
	box-shadow: 1px 1px 1px grey;
}

#review_title {
	color: white;
	margin-left: 40px;
	padding-top: 100px;
	padding-bottom: 30px;
}

#business_title_header {
	position: absolute;
	color: white;
	left: 20%;
	top: 200px;
}

#business_image_show {
	border-radius: 10px;
	position: absolute;
	width: 150px;
	border: 3px solid yellow;
	left: 5%;
	top: 150px;
}

#able_rating_show {
	position: absolute;
	left: 77%;
	font-size: 35px;
	color: white;
	border-radius: 10px;
	border: 3px solid yellow;
	padding-right: 10px;
	padding-left: 10px;
	top: 190px;
}

#review_rating_show {
	position: absolute;
	left: 86%;
	font-size: 25px;
	color: white;
	border-radius: 10px;
	border: 3px solid yellow;
	padding-right: 10px;
	padding-left: 10px;
	top: 195px
}

#rating_description h6 {
	font-size: 20px !important;
}

#able_review_show {
	position: relative;
	top: 270px;
	border-radius: 5px;
	/*background-color: #E0E0E0;*/
	left: 5%;
	/*box-shadow: 1px 1px 1px grey;*/
}

#able_review_show ul li {
	list-style: none;
	padding: 3px;
	padding-top: 8px !important;
}

#wheelchair_icon_show {
	width: 30px;
}

#scooter_icon_show {
	width: 30px;
}

#ramp_icon_show {
	width: 30px;
}

#stairs_icon_show {
	width: 30px;
}

#comment_show {
	padding-bottom: 10px;
}

#business_info_show {
	top: 270px;
	/*box-shadow: 1px 1px 1px grey;*/
	/*border-radius: 5px;*/
	left: 80px;
	/*background-color: #E0E0E0;*/
	width: 300px;
	padding-bottom: 10px;
}

#business_info_show ul {
	margin: 0;
	padding-bottom: 15px;
}

#business_info_show li {
	list-style-type: none;
	margin: 0;
}

#map_show {
	width: 270px;
	height: 200px;
	position: relative;
	z-index: 2;
}

#comment_form {
	left: 5%;
	margin-top: 150px;
	padding-top: 20px;
	/*border-radius: 5px;*/
	border-top: 1px solid black;

	/*background-color: #E0E0E0;
	box-shadow: 1px 1px 1px grey;*/
}

.yellow_button {
	color: yellow, !important;
}

#user_reviews_index {
	border-bottom: 1px solid black;
	/*border-radius: 5px;
	border: 1px solid black;*/
	margin-top: 10px;
	margin-bottom: 10px;
	width: 360px;
	margin-right: 50px;
}


