/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	margin: 0;
 	margin-top: 0;
 	font-family: 'Roboto', sans-serif;
 	background-color: #E0E0E0;
 }


 /*Nav Bar Stlying*/


#logo {
	font-family: 'Knewave', cursive;

}

#able {
	position: fixed;
	left: 66px;
	top: -20px;
	color: white;
	font-size: 50px;
	z-index: 8;
}



#NYC {
	color: yellow;
	position: fixed;
	left: 160px;
	top: 25px;
	color: yellow;
	font-size: 20px;
	z-index: 8;
}

#navbar {
	background-color: #197BBD;
	list-style-type: none;
	height: 60px;
	color: #197BBD;
	position: fixed;
	width: 100%;
	top: 0;
	/*webkit-box-shadow: 0 8px 6px -6px #999;
    moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;*/
    z-index: 5;
    opacity: 0.7;
}

#navbar ul {
	margin: 0;
	margin-left: 70%;
}

#navbar ul li {
	display: inline-block;
    width: 100px;
    text-align: center;
    /*padding-top: 35px;*/
    padding-bottom: 31px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #F0F3BD;
    z-index: 5;
}


/*Button Stlying*/

#signed_in_buttons {
	z-index: 6;
	position: fixed;
	cursor: pointer;
}

#login_button {
	z-index: 6;
	position: fixed;
	cursor: pointer;
	opacity: 1;
}

#sign_out_button {
	position: fixed;
	left: 85%;
	top: 14px;
	opacity: 1 !important;
	background-color: yellow;


}

#my_profile_button {
	position: fixed;
	left: 75%;
	top: 14px;
}

#signed_out_buttons li {
	list-style-type: none;
	padding-top: 3px;
}

#login_button {
	left: 75%;
}

#sign_up_button {
	position: fixed;
	left: 84%;
	z-index: 6;
}

/*Sign Up Page*/

#sign_up_form {
	border: 1px solid black;
	width: 450px;
	border-radius: 5px;
	padding-left: 45px;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-left: 33%;
	background-color: #197BBD;
	opacity: .98;
	box-shadow: 2px 2px 1px grey;
}

/*Sign In Page*/

#login_form {
	border: 1px solid black;
	width: 300px;
	border-radius: 5px;
	padding-left: 67px;
	margin-top: 40px;
	padding-bottom: 20px;
	margin-left: 37%;
	background-color: #197BBD;
	opacity: .98;
}

/*Search Page*/

#blue_map_locations {
	width: 45%;
	position: absolute;
	top: -100px;
	z-index: -1;
}

#location_titles {
	margin-left: 60px;
	padding-top: 10px;
	color: white;
}

#location_titles h4 {
	color: yellow;
}

#location_search li{
	display: inline-block;
	margin-left: 10px;
}

#yelp_location {
	width: 40%;
	border-bottom: 1px solid grey;
	position: relative;
}

#yelp_location_all {
	margin-top: 100px;
}

#create_entry_form {
	padding-top: 5px;
	position: relative;
	width: 20%;
	z-index: 2;

}

#entry_button {
	position: relative;
	left: 335%;
	top: -60px;
	width: 200px;
}

#map-canvas {
	width: 800px;
	height: 710px;
}

#map_left {
	position: fixed;
	top: 0;
	left: 45%;
}


/*Edit Page*/

#edit_page_description {
	border-radius: 10px;
	border: 1px solid yellow;
	width: 400px;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #197BBD;
	left: 150px;
	padding-left: 50px;
	box-shadow: 2px 2px 1px grey;
}

#edit_page_description a {
	color: yellow;
}

#able_form {
	left: 50px;
	margin-top: 120px;
	border: 1px solid black;
	padding-top: 20px;
	border-radius: 5px;
	background-color: #E0E0E0;
	box-shadow: 1px 1px 1px grey;
}

#review_title {
	color: white;
	margin-left: 40px;
	padding-top: 100px;
	padding-bottom: 30px;
}

#business_title_header {
	position: absolute;
	color: white;
	left: 20%;
	top: 200px;
}

#business_image_show {
	border-radius: 10px;
	position: absolute;
	width: 150px;
	border: 3px solid yellow;
	left: 5%;
	top: 150px;
}

#able_rating_show {
	position: absolute;
	left: 77%;
	font-size: 35px;
	color: white;
	border-radius: 10px;
	border: 3px solid yellow;
	padding-right: 10px;
	padding-left: 10px;
	top: 190px;
}

#review_rating_show {
	position: absolute;
	left: 86%;
	font-size: 25px;
	color: white;
	border-radius: 10px;
	border: 3px solid yellow;
	padding-right: 10px;
	padding-left: 10px;
	top: 195px
}

#rating_description h6 {
	font-size: 20px !important;
}

#able_review_show {
	position: relative;
	top: 270px;
	border-radius: 5px;
	/*background-color: #E0E0E0;*/
	left: 5%;
	/*box-shadow: 1px 1px 1px grey;*/
}

#able_review_show ul li {
	list-style: none;
	padding: 3px;
	padding-top: 8px !important;
}

#wheelchair_icon_show {
	width: 30px;
}

#scooter_icon_show {
	width: 30px;
}

#ramp_icon_show {
	width: 30px;
}

#stairs_icon_show {
	width: 30px;
}

#comment_show {
	padding-bottom: 10px;
}

#business_info_show {
	top: 270px;
	/*box-shadow: 1px 1px 1px grey;*/
	/*border-radius: 5px;*/
	left: 80px;
	/*background-color: #E0E0E0;*/
	width: 300px;
	padding-bottom: 10px;
}

#business_info_show ul {
	margin: 0;
	padding-bottom: 15px;
}

#business_info_show li {
	list-style-type: none;
	margin: 0;
}

#map_show {
	width: 270px;
	height: 200px;
	position: relative;
	z-index: 2;
}

#comment_form {
	left: 5%;
	margin-top: 150px;
	padding-top: 20px;
	/*border-radius: 5px;*/
	border-top: 1px solid black;

	/*background-color: #E0E0E0;
	box-shadow: 1px 1px 1px grey;*/
}

.yellow_button {
	color: yellow, !important;
}

#user_reviews_index {
	border-bottom: 1px solid black;
	/*border-radius: 5px;
	border: 1px solid black;*/
	margin-top: 10px;
	margin-bottom: 10px;
	width: 360px;
	margin-right: 50px;
}

/*Media Queries*/

/*Ipad*/

@media (max-width: 768px)  {

/*Welcome Page*/

	#sign_out_button {
		position: fixed;
		left: 82%;
		top: 15px;
		opacity: 1 !important;
		background-color: yellow;
	}

	#my_profile_button {
		left: 65%;
		top: 15px;
	}

	#signed_out_buttons li {
		list-style-type: none;
		padding-top: 3px;
	}

	#login_button {
		left: 69%;
	}

	#sign_up_button {
		position: fixed;
		left: 82%;
		z-index: 6;
	}

	#blue_map_welcome {
		width: 100%;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	 #welcome_left h5 {
		height: 240px;
		margin-top: 290px;
		padding-left: 100px;
		padding-right: 100px;
		border-bottom: 1px solid black;
		border-right: none;
		font-size: 30px;
		font-family: 'Knewave', cursive;
	}

	#welcome_right {
		top: 30px;
		padding-left: 100px;
		padding-right: 100px;
	}

	#welcome_right li {
		list-style-type: none;
		font-family: 'Knewave', cursive;
		font-size: 30px;
		padding-top: 20px;
		text-align: center;
	}

	#welcome_right ul {
		padding-left: 0;
	}


	/*Search Page*/

	#blue_map_locations {
		width: 650px ;
		position: absolute;
		top: -100px;
		z-index: -1;
	}

	#create_entry_form {
		padding-top: 5px;
		position: relative;
		width: 20%;
		z-index: 2;
	}

	#entry_button {
		position: absolute;
		left: 235%;
		top: -160px;
		width: 200px;
	}

	#map-canvas {
		width: 800px;
		height: 1024px;
	}

	#location_titles {
		margin-left: 15px;
		padding-top: 10px;
		color: white;
	}

	#location_search li{
		display: inline-block;
		margin-left: -60px;
	}

	#submit {
		padding-left: 60px;
	}

}

@media (max-width: 550px) {

	#sign_out_button {
		position: absolute;
		left: 75%;
		top: 15px;
		opacity: 1 !important;
		background-color: yellow;
	}

	#my_profile_button {
		left: 50%;
		top: 15px;
	}
}

/*Iphone*/

@media (max-width: 420px)  {

	#sign_out_button {
		position: absolute !important;
		width: 200px;
		height: 50px;
		left: 210px;
		top: 65px;
		opacity: 1 !important;
		background-color: yellow;
	}

	#my_profile_button {
		position: absolute !important;
		width: 200px;
		height: 50px;
		left: 3px;
		top: 65px;
	}

	#signed_out_buttons li {
		list-style-type: none;
		padding-top: 4px;
	}

	#login_button {
		position: relative;
		width: 200px;
		height: 50px;
		margin-left: -282px;
		top: 60px;
	}

	#sign_up_button {
		position: absolute;
		width: 200px;
		height: 50px;
		margin-left: -131px;
		top: 60px;
	}

	/*Login Page*/

	#login_form {
		border: 1px solid black;
		width: 300px;
		border-radius: 5px;
		padding-left: 67px;
		margin-top: 40px;
		padding-bottom: 20px;
		margin-left: 13%;
		background-color: #197BBD;
		opacity: .98;
	}

	#blue_map_welcome {
		width: 414px;
		height: 460px;
		overflow: hidden !important;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	#able {
		left: 135px;
		top: -20px;
	}

	#NYC {
		left: 230px;
		top: 25px;
		color: yellow;
	}

	#location_title {
		position: relative;
		top: 70px;
	}

	.pure-form {
		position: relative;
		top: 100px;
	}

	.button.button-rounded.button-flat-primary {
		width: 200px;
		height: 50px;
	}

	.search_form {
		width: 400px;
		height: 50px;
		margin-bottom: 5px;
		/*margin-left: 7px;*/
	}

	#welcome_right {
		top: 5px;
		padding-left: 10px;
		padding-right: 10px;
	}

	#welcome_right li {
		list-style-type: none;
		font-family: 'Knewave', cursive;
		font-size: 35px;
		padding-top: 40px;
		text-align: center;
	}


	#welcome_left {
		display: none;
	}

	#map-canvas {
		display: none;
	}

	#blue_map_locations {
		width: 414px;
		height: 410px;
		position: absolute;
		top: -100px;
		z-index: -1;
	}

	#entry_button {
		position: absolute;
		left: 20%;
		top: -160px;
		width: 200px;
	}

	#submit {
		padding-left: 100px;
		padding-top: 5px;
	}

	#location_search li{
		display: inline-block;
		margin-left: -66px;
	}

	#location_search {
		margin-top: 150px;
	}

	#search {
		height: 40px;
		width: 400px;
		font-size: 25px;
	}

	#location_titles {
		display: none;
	}

	#yelp_location {
		width: 414px;
	}

	#yelp_location .col-md-3 {
		top: -40px;
		width: 100px;
		border-bottom: none;
		display: inline-block;
		position: relative;
	}

	#yelp_location .col-md-6 {
		padding-left: 30px;
		width: 300px;
		border-bottom: none;
		display: inline-block;
		position: relative;
	}

	#entry_button {
		position: relative;
		margin-left: 150px;
		top: -20px;
		padding-bottom: 5px;
		width: 200px;
	}



}

@media (max-width: 375px)  {


	#blue_map_welcome {
		width: 375px;
		height: 360px;
		overflow: hidden !important;
		position: absolute;
		top: 0;
		z-index: -1;
	}

	#navbar {
		width: 375px;
	}

	#blue_map_locations {
		width: 375px;
		height: 410px;
		position: absolute;
		top: -100px;
		z-index: -1;
	}

	#sign_out_button {
		position: absolute !important;
		width: 180px;
		left: 188px;
	}

	#search {
		height: 40px;
		left: 1px;
		width: 361px;
		font-size: 25px;
	}

	#my_profile_button {
		position: absolute !important;
		width: 180px;
		left: 7px;
	}

	#signed_out_buttons li {
		list-style-type: none;
		padding-top: 3px;
	}

	#login_button {
		position: absolute;
		width: 180px;
		left: 470px
	}

	#sign_up_button {
		position: absolute;
		width: 180px;
		left: 135px;
		z-index: 6;
	}

	#yelp_location {
		width: 375px;
	}

	.button.button-rounded.button-flat-primary {
		width: 180px;
		height: 50px;
	
	}

	.search_form {
		width: 361px;
		height: 50px;
		margin-left: 0;
	}


	#location_title {
		position: relative;
		top: 80px;
		font-size: 35px;
	}

	#welcome_right {
		margin-top: 170px;
		top: 0;
		padding-left: 10px;
		padding-right: 10px;
	}

	#welcome_right li {
		list-style-type: none;
		font-family: 'Knewave', cursive;
		font-size: 30px;
		padding-top: 40px;
		text-align: center;
	}

	#yelp_location .col-md-3 {
		top: -40px;
		width: 90px;
		border-bottom: none;
		display: inline-block;
		position: relative;
	}

	#yelp_location .col-md-6 {
		padding-left: 30px;
		width: 270px;
		border-bottom: none;
		display: inline-block;
		position: relative;
	}

	#entry_button {
		left: -193%;
	}

	#submit {
		padding-left: 90px;
		padding-top: 5px;
	}

	#welcome_search {
		padding-top: 30px;
	}

	#entry_button {
		position: relative;
		margin-left: 300px;
	}

}

