/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 body {
 	margin: 0;
 	margin-top: 0;
 	font-family: 'Roboto', sans-serif;
 	background-color: #02C39A;
 }


#logo {
	font-family: 'Knewave', cursive;

}

#able {
	position: fixed;
	left: 66px;
	top: -20px;
	color: white;
	font-size: 50px;
	z-index: 6;
}



#NYC {
	color: yellow;
	position: fixed;
	left: 160px;
	top: 25px;
	color: yellow;
	font-size: 20px;
	z-index: 6;
}

#navbar {
	background-color: #197BBD;
	list-style-type: none;
	height: 60px;
	color: #197BBD;
	position: fixed;
	width: 100%;
	top: 0;
	/*webkit-box-shadow: 0 8px 6px -6px #999;
    moz-box-shadow: 0 8px 6px -6px #999;
    box-shadow: 0 8px 6px -6px #999;*/
    z-index: 5;
}

#navbar ul {
	margin: 0;
	margin-left: 70%;
}

#navbar ul li {
	display: inline-block;
    width: 100px;
    text-align: center;
    /*padding-top: 35px;*/
    padding-bottom: 31px;
    padding-right: 10px;
    padding-left: 10px;
    font-size: 20px;
    color: #F0F3BD;
    z-index: 5;
}

#welcomeuser {
	padding-top: 10px;
}

#yelp_location {
	width: 40%;
	border-bottom: 1px solid grey;
	position: relative;
}

#create_entry_form {
	padding-top: 5px;
	position: relative;

}

#entry_button {
	position: relative;
	left: 58%;
	top: -60px;
	width: 200px;
}

#map-canvas {
	width: 800px;
	height: 640px;
}

#map_left {
	position: fixed;
	top: 0;
	left: 40%;
}

/*#navbar ul li:hover {
    background-color: #00A896;
}*/

/*.nav_button {
	border-radius: 8px;
	position: relative;
	width: 40px;

}

#signin_button {
	border: 5px solid grey;
	text-decoration: none;
}

#signup_button {
	background-color: #35FF69;
	border: 5px solid #35FF69;
}*/


