// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

// body welcome {
//     background-image: url("blue_map.png");
//     background-repeat: no-repeat;
//     background-size: 100%;

//     background-color: #cccccc;
// }



#blue_map_welcome {
	width: 100%;
	position: absolute;
	top: -400px;
	z-index: -1;
}

#location_title {
	color: white;
	font-family: 'Roboto', sans-serif;

}

#location_list {
	margin-top: 300px;
}

#location_title_list {
	padding-left: 50px;
}

#welcome_search {
	text-align: center;
	padding-top: 80px;
}

#rated_location_list {
	width: 500px;
	box-shadow: 1px 1px 1px grey;
	border-radius: 5px;
	left: 80px;
	background-color: #E0E0E0;
	margin-left: 5%;

}

#able_rating_show_list {
	margin-left: 50px;
 	font-size: 30px;
	border: 3px solid yellow;
	width: 85px;	
	padding: 10px;
	border-radius: 5px;
}

#rating_description_list {
	font-size: 30px;
}

 #welcome_left h5 {
	height: 240px;
	margin-top: 120px;
	padding-left: 100px;
	padding-right: 100px;
	border-right: 1px solid black;
	font-size: 30px;
	font-family: 'Knewave', cursive;
}



#welcome_right {
	top: 160px;
	padding-left: 100px;
	padding-right: 100px;

}

#welcome_right li {
	list-style-type: none;
	font-family: 'Knewave', cursive;
	font-size: 30px;
	padding-top: 20px;
}